/*შექმენით პარაგრაფი რომელსაც პადინგად ექნება ზედა და ქვედა მხარეს 30px და მარჯვნივ და მარცხნივ 15px.
პარაგრაფის შიგთავსი სიგანეში უნდა იყოს 400px და სიმაღლეში 200px. პარაგრაფის ზღვარი უნდა იყოს სიგანეში 
5px წითელი ფერი და სოლიდური. ელემენტის უკანა ფერი უნდა იყოს ყვითელი და ელემნტის გარშემო სივცე 
ყველა მხარეს გარდა მარცხენა მხარისა უნდა იყოს 50px ხოლო მარცხენა მხარე უნდა იყოს 15px. აგრეთვე 
კომენტარებით ახსენით როგორ უნდა გამოითვალოთ ელემენტის რეალური სიმაღლე და სიგანე*/

div {
    padding: 30px 15px;    
    width: 400px;
    height: 200px;
    border-width: 5px solid red;
    background-color: yellow;
    margin: 50px 50px 50px 15px;
}
/*In order to calculate actual height and weight of element we have to add
padding and border with to element's volumes*/