body {
    background-color: rgb(204, 212, 219);
}

#wrap {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#row1 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;

}

#row2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



h1,p {
    color: white;
}

#korea {
    background-image: url(./Pictures/korea.webp);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#tbilisi {
    background-image: url(./Pictures/tbilisi.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#new-york {
    background-image: url(./Pictures/new-york.jpg);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#paris {
    background-image: url(./Pictures/paris.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#tokyo {
    background-image: url(./Pictures/tokyo.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#dubai {
    background-image: url(./Pictures/dubai.webp);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}