/*შექმენით პარაგრაფი რომელსაც ექნება სიგანე და სიმაღლე 300-300px ასევე პადინგი 20px - 20px და მარჯინი 
ზედა-ქვედა 10px მარცხენა-მარჯვენა 30px. ბორდერი ყველა მხარეს უნდა იყოს სხვადასხვანაირი, ყველა უნდა 
იყოს სხვადასხვა ზომა და აგრეთვე ელემენტი უნდა დარჩეს იმდენი რამდენიც გავუწერეთ width da height ში*/

#block {
    width: 300px;
    height: 300px;
    padding: 20px 20px;
    margin: 10px 30px;
    border-top: 5px;
    border-right: 10px;
    border-bottom: 15px;
    border-left: 8px;
    box-sizing: border-box;
}