body{
    background-color: rgb(74, 148, 74);
}


#lukacredits {
    text-align: right;
}

.credit{
    width: 50;
}

#mainlogo {
    width: 150;
}

#mainmenu{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.menuicons{
    width: 150;
    height: 75;
}

main{
    text-align: center;
}

footer{
    text-align: center;
}

.customer{
    width: 150;
    height: 150;
}