* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: rgb(207, 216, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}


.parent {
    width: 800px;
    height: 800px;

    border: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    row-gap: 20px;
    column-gap: 50px;
}

.child {
    border: 5px solid black;
}

#header {
    grid-column: 1 / 4;
    background-color: rgb(115, 59, 189);
}

#sidebar {
    grid-row: 2 / 6;
    background-color: rgb(68, 153, 135);
}

#content1 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-color: rgb(0, 132, 255);
}

#content2,#content3 {
    grid-row: 4 / 6;
    background-color: rgb(0, 132, 255);
}

#footer {
    grid-column: 1 / 4;
    background-color: rgb(115, 59, 189);
}